@media screen and (max-width: 450px) {
  * {
    margin: 0;
    padding: 0;
  }

  header {
    height: 100vh;
  width: 100vw;
  background-size: cover;
  background-color: #535151;
  padding-right: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-size: 100%;
  }

  nav {
    font-size: 1.3rem;
  }
  header nav li {
    padding-right: 100px;
  }
  main {
    display: block;
    block-size: auto;
    margin: auto;
  }

  #welcome {
    display: block;
    background-image: url("../assets/background-photo.png");
    background-size: 100%;
  }
  #spring-season-container {
    margin-top: 25%;
    margin-left: 15%;
    margin-right: 20%;
    background-color: #484d47;
    opacity: 0.85;
  }

  #spring-season {
    color: #f9f7f4;
    font-family: "Playfair Display";
    font-size: 25px;
    font: weight 100px;
  }

  #discover-button {
    width: auto;
    padding: 2% 25%;
    background-color: transparent;
    font-size:14px;
    cursor: pointer;
    font-family: "Playfair Display";
    background-color: #484d47;
    color: #f9f7f4;
    border: 1px solid #f9f7f4;
  }

  #free-container {
    margin: 0;
    padding: 0;
    background-color: #555d53;
    width: 100%;
    background-size: 100%;
  }

  #free-text {
    font-family: "Playfair Display";
    background-color: #555d53;
    color: #f9f7f4;
    font-size: 16px;
    text-align: center;
  }

  #indispensable {
    display: block;
    font-family: "Playfair Display";
    font-weight: lighter;
    font-size: 7px;
    color: #242a21;
    /*height: 100vh; pour prendre 100% de l'écran du parent*/
    display: block;

    /*gap: 30px; pour avoir des espace entre les éléments*/
  }

  section.items {
    display: block;  
  }
  
  .item {
    height: 600px;
  }
  
  .item-image {
    height: 500px;
  }
  .title {
    text-align: center;
    font-family: "Playfair Display";
    font-weight: lighter;
    font-size:15px ;
    color: #242a21;
  }
  .price {
    text-align: center;
    font-family: "Playfair Display";
    font-size: 15px;
    font-weight: bold;
    color: #242a21;
  }
  
  #shop-button {
    width: auto;
    height: px;
    background-color: #484d47;
    position: relative;
    color: #f9f7f4;
    font-weight: bold;
    margin: 30px;
    opacity: 0.85;
    cursor: pointer;
    padding: 5px 100px;
    font-size: 18px;
    font-weight: 100;
    cursor: pointer;
    font-family: "Playfair Display";
    border: 1px solid #3d423d;
    margin: auto;;
  }
}
